.CloudPlayback-document-wrap {
    width: 100%;
    height: 100%;
    overflow: hidden auto;
    background: #000000;
    position: relative;


}


.CloudPlayback-Draw-full {
    width: 40px;
    height: 40px;
    border: none;
    background-color: transparent;
    outline: none;
    cursor: pointer;
    vertical-align: middle;
    box-sizing: border-box;
    position: absolute;
    right: 0px;
    bottom: 0px;
    padding: 8px;

    .CloudPlayback-icon-content {
        svg {
            width: 100%;
            height: 100%;

            path {
                fill: #fff
            }
        }
    }

}